.itemCard{
    width: 310px;
    height: 400px;
    display: inline-block;
    
   
}

.interior{
    display: flex;
    justify-content: center;
    align-items: center;
}

.fotoArt{
    width: 200px;
    height: 200px;
   
}

.titArt{ 
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(25, 25, 129);
}
.botonArt{
    color:whitesmoke;
    background-color: rgb(55, 91, 47);
   
}