.contador{
    display: inline-block;
    text-align: center;
    background-color: rgb(207, 248, 205);
    height: 60px;
    width: 140px;
}

.contadorIn{
    display: flex;
    justify-content: center;
    justify-content: space-around;
}

.botonContador{
 background-color: rgb(250, 181, 236); 
 height: 25px;
 width: 30px;
 
}
.botonCarrito{
    height: 20px;
    width: 0px;
}

.numParraf{
    color: blue;
    
}

.botonArt{
    color:whitesmoke;
    background-color: rgb(55, 91, 47);
   font-size: 12px;
   height: 30px;
   width: 110px;
}

