.contador{
    display: inline-block;
    text-align: center;
    background-color: rgb(207, 248, 205);
    height: 50px;
    width: 130px;
}

.contadorIn{
    display: flex;
    justify-content: center;
    justify-content: space-around;
}

.botonContador{
 background-color: rgb(250, 181, 236); 
 height: 20px;
 width: 30px;
 
}
.botonCarrito{
    height: 20px;
    width: 0px;
}

.numParraf{
    color: blue;
    
}


