.botonCarrito{
    display: inline-flex;
    align-items: flex-start;
    background-color: beige;
    width: 75px;
    height: 45px;
    border-radius: 8px;
}
.carrito{ 
    width: 55px;
    height: 30px;
}