.NavBar{
    display: flex;
    background-color: rgb(25, 23, 158);
    width: 100%;
    height: 80px;
    justify-content: space-around;
    align-items: center;
}
.botones{
    font-size: 25px;
    background-color: rgb(171, 62, 62);
    border: none;
    color: white;
    padding: 16px 32px; 
    padding: 16px 24px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    text-align: center;
    border-radius: 8px;
    width: 120px; 
    height: 30px; 
   
     }

.botonCarrito{
    display: inline-flex;
    align-items: center;
    background-color: beige;
    width: 105px;
    height: 55px;
    border-radius: 8px;
}
.carrito{ 
    width: 65px;
    height: 35px;
}
.cantProductos{
    color: rgb(39, 96, 146);
    font-size: 25px;
}

.nomEcom{
    display: flex;
   text-align: left;
    color: white;
}