.NavBar{
    display: flex;
    background-color: rgb(25, 23, 158);
    width: 100%;
    height: 80px;
    justify-content: center;
    align-items: center;
}
.botones{
    background-color: rgb(26, 144, 148);
    color: azure;
    height: 55px;
    width: 120px;
}
.botonCarrito{
    display: inline-flex;
    align-items: center;
    background-color: beige;
    width: 105px;
    height: 55px;
}
.carrito{ 
    width: 65px;
    height: 35px;
}
.cantProductos{
    color: rgb(39, 96, 146);
    font-size: 25px;
}